<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Checkout</title>
</head>
<body>
<div class="jumbotron text-center">
    <h1>Checkout details</h1>
</div>
<div>
    <form>
        <input type="text" name="name">
        <input type="text" name="email">
        <input type="text" name="phonenumber">
        <p>Billing adress</p>
        <input type="text" name="country">
        <input type="text" name="city">
        <input type="text" name="zipcode">
        <input type="text" name="adress">
        <p>Shipping adress</p>
        <input type="text" name="country">
        <input type="text" name="city">
        <input type="text" name="zipcode">
        <input type="text" name="adress">
    </form>
</div>
</body>
</html>